@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: AkzidenzGroteskBQ;
  font-display: swap;
  src: url("../fonts/AkzidenzGroteskBQ-MdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-MdCnd.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 55rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 22px;
  color: #fff;
  background-color: #000;
  font-size: 0.875rem;
  line-height: 16.67px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.button_white {
  color: #000;
  background-color: #fff;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  min-height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
}

.input._form-error {
  border: 1px solid red;
}

.form__error {
  color: red;
  margin-top: 10px;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

textarea.input {
  resize: none;
  padding: 20px 18px;
  height: 100px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}

.popup__info {
  font-size: 1.0625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__link,
.logo__text,
.lang__link,
.link-item,
.button {
  font-family: "Bebas Neue";
}

.menu__link,
.top-header__link,
.subtitle,
.title {
  font-family: "AkzidenzGroteskBQ";
}

.link-item {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.link-item_white {
  color: #fff;
}

.title {
  color: #ffffff;
  font-size: 2.0625rem;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3.33px;
}

.title_black {
  color: #000;
}

[class*=__text] {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.7;
  text-align: left;
}

.subtitle {
  color: #000000;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

@supports (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.5625rem )) {
  .subtitle {
    font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0805084746rem  +  0.8474576271vw , 1.5625rem )) {
  .subtitle {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 36.875);
  }
}

.subtitle_white {
  color: #fff;
}

#map {
  width: 100%;
  min-height: 475px;
}

@-webkit-keyframes anim {
  to {
    opacity: 1;
  }
}

@keyframes anim {
  to {
    opacity: 1;
  }
}

[data-animation-image] {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

[data-animation-image]._watcher-view {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header {
  background-color: #fff;
}

@supports (height: clamp( 9.375rem , 9.375rem  +  0vw , 9.375rem )) {
  .header {
    height: clamp( 9.375rem , 9.375rem  +  0vw , 9.375rem );
  }
}

@supports not (height: clamp( 9.375rem , 9.375rem  +  0vw , 9.375rem )) {
  .header {
    height: calc(9.375rem + 0 * (100vw - 20rem) / 36.875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , -0.0529661017rem  +  3.3898305085vw , 1.875rem )) {
  .header {
    margin-bottom: clamp( 0.625rem , -0.0529661017rem  +  3.3898305085vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , -0.0529661017rem  +  3.3898305085vw , 1.875rem )) {
  .header {
    margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-top: clamp( 0.625rem , -0.0190677966rem  +  3.2203389831vw , 1.8125rem )) {
  .header__container {
    padding-top: clamp( 0.625rem , -0.0190677966rem  +  3.2203389831vw , 1.8125rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -0.0190677966rem  +  3.2203389831vw , 1.8125rem )) {
  .header__container {
    padding-top: calc(0.625rem + 1.1875 * (100vw - 20rem) / 36.875);
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

@supports (row-gap: clamp( 0.3125rem , 0.1430084746rem  +  0.8474576271vw , 0.625rem )) {
  .header__top {
    row-gap: clamp( 0.3125rem , 0.1430084746rem  +  0.8474576271vw , 0.625rem );
  }
}

@supports not (row-gap: clamp( 0.3125rem , 0.1430084746rem  +  0.8474576271vw , 0.625rem )) {
  .header__top {
    row-gap: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 36.875);
  }
}

.top-header {
  position: relative;
  z-index: 3;
}

.top-header__link {
  color: #000000;
  font-size: 15px;
  line-height: 1.6666666667;
  text-align: left;
  text-transform: uppercase;
}

.lang__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.lang__link {
  color: #000000;
  font-size: 0.75rem;
  line-height: 2.5;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.lang__link_active {
  color: #fff;
  background-color: #000000;
  display: block;
  text-align: center;
  width: 25px;
}

.bottom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body > ul:not(:last-child) {
  margin-bottom: 20px;
}

.menu__body_collaps-menu {
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem )) or (column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem );
       -moz-column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem );
            column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem )) or (column-gap: clamp( 1.25rem , -9.8928571429rem  +  23.2142857143vw , 2.875rem ))) {
  .menu__list {
    -webkit-column-gap: calc(1.25rem + 1.625 * (100vw - 48rem) / 7);
       -moz-column-gap: calc(1.25rem + 1.625 * (100vw - 48rem) / 7);
            column-gap: calc(1.25rem + 1.625 * (100vw - 48rem) / 7);
  }
}

.menu__link {
  position: relative;
  color: #000000;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  background-color: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 0%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.logo__text {
  color: #000000;
  font-size: 0.5rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1em;
}

.logo__text span {
  letter-spacing: 0.34em;
}

.logo__image img {
  max-width: 100%;
}

.icon-menu {
  position: relative;
  z-index: 20;
  display: none;
}

@supports (padding-top: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem )) {
  .footer {
    padding-top: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem )) {
  .footer {
    padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem )) {
  .footer {
    padding-bottom: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3612288136rem  +  2.8813559322vw , 2rem )) {
  .footer {
    padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 36.875);
  }
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  color: #4d4d4d;
  font-size: 0.9375rem;
  line-height: 25px;
  text-align: left;
}

.private {
  background-color: #000;
}

.private__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private__content_container {
  max-width: 55em;
  padding: 0 0.9375rem;
}

@supports (padding-top: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem )) {
  .private__content {
    padding-top: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem )) {
  .private__content {
    padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem )) {
  .private__content {
    padding-bottom: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.7150423729rem  +  4.2372881356vw , 3.125rem )) {
  .private__content {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 36.875);
  }
}

.private__image-ibg {
  position: relative;
  height: 100%;
}

.content-private__title:not(:last-child) {
  margin-bottom: 25px;
}

.content-private__text {
  color: #fff;
}

.content-private__text:not(:last-child) {
  margin-bottom: 37px;
}

.links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.link-item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@supports (padding-top: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem )) {
  .products {
    padding-top: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem )) {
  .products {
    padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem )) {
  .products {
    padding-bottom: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2330508475rem  +  5.0847457627vw , 3.125rem )) {
  .products {
    padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 36.875);
  }
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
}

.product__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-product__image-ibg {
  cursor: pointer;
  padding-bottom: 100%;
}

.item-product__image-ibg:not(:last-child) {
  margin-bottom: 17px;
}

.item-product__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.item-product__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 15px;
}

.links-box_align {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 24px;
}

.why {
  background-color: #ebebeb;
}

.top-why__content {
  background-color: #000;
}

.top-why__image-ibg {
  height: 100%;
}

.top-why__image-ibg img {
  max-width: 100%;
}

.top-why__title {
  max-width: none;
}

@supports (padding-top: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .top-why__body {
    padding-top: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .top-why__body {
    padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .top-why__body {
    padding-bottom: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .top-why__body {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-top: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem )) {
  .bottom-why {
    padding-top: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem )) {
  .bottom-why {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem )) {
  .bottom-why {
    padding-bottom: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1970338983rem  +  3.3898305085vw , 3.125rem )) {
  .bottom-why {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 36.875);
  }
}

.bottom-why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -22px;
}

@supports (row-gap: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .bottom-why__items {
    row-gap: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem );
  }
}

@supports not (row-gap: clamp( 1.875rem , 0.8580508475rem  +  5.0847457627vw , 3.75rem )) {
  .bottom-why__items {
    row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 36.875);
  }
}

.bottom-why__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 350px;
}

.bottom-why__image {
  background-color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.bottom-why__text {
  padding-right: 10px;
}

.bottom-why__subtitle {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@supports (padding-top: clamp( 1.875rem , 0.1122881356rem  +  8.813559322vw , 5.125rem )) {
  .contacts {
    padding-top: clamp( 1.875rem , 0.1122881356rem  +  8.813559322vw , 5.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.1122881356rem  +  8.813559322vw , 5.125rem )) {
  .contacts {
    padding-top: calc(1.875rem + 3.25 * (100vw - 20rem) / 36.875);
  }
}

.contacts__top:not(:last-child) {
  margin-bottom: 25px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 2.5rem )) {
  .contacts__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 2.5rem )) {
  .contacts__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 36.875);
  }
}

.contacts__items {
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 23px;
}

.contacts__item {
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 250px;
}

.contacts__link {
  display: inline-block;
  color: #000000;
  font-size: 0.9375rem;
  line-height: 1.8;
  text-align: left;
  padding-left: 35px;
}

.contacts__link_address {
  background: url("../img/location.svg") 0 0 no-repeat;
}

.contacts__link_address:hover {
  text-decoration: underline;
}

.contacts__link_phone {
  background: url("../img/telephone.svg") 0 0 no-repeat;
}

.contacts__link_mail {
  background: url("../img/email.svg") 0 0 no-repeat;
}

.item-contacts_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem ))) {
  .item-contacts_social {
    -webkit-column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem );
       -moz-column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem );
            column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem )) or (column-gap: clamp( 0.9375rem , 0.3951271186rem  +  2.7118644068vw , 1.9375rem ))) {
  .item-contacts_social {
    -webkit-column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 36.875);
       -moz-column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 36.875);
            column-gap: calc(0.9375rem + 1 * (100vw - 20rem) / 36.875);
  }
}

.item-contacts__icon {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
  position: relative;
}

.contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contacts__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@supports (padding-top: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem )) {
  .form-contacts {
    padding-top: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem )) {
  .form-contacts {
    padding-top: calc(1.875rem + 1.5 * (100vw - 20rem) / 36.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem )) {
  .form-contacts {
    padding-bottom: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.061440678rem  +  4.0677966102vw , 3.375rem )) {
  .form-contacts {
    padding-bottom: calc(1.875rem + 1.5 * (100vw - 20rem) / 36.875);
  }
}

.form-contacts__subtitle:not(:last-child) {
  margin-bottom: 25px;
}

.form-contacts__line:not(:last-child) {
  margin-bottom: 25px;
}

@media (min-width: 47.99875em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 264px;
            flex: 1 1 264px;
  }

  .bottom-header {
    margin-top: -18px;
  }

  .bottom-header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .menu__body_align-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .private__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .private__content {
    padding-left: 41px;
  }

@supports (padding-left: clamp( 1.875rem , -12.6964285714rem  +  30.3571428571vw , 4rem )) {
    .form-contacts {
      padding-left: clamp( 1.875rem , -12.6964285714rem  +  30.3571428571vw , 4rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -12.6964285714rem  +  30.3571428571vw , 4rem )) {
    .form-contacts {
      padding-left: calc(1.875rem + 2.125 * (100vw - 48rem) / 7);
    }
}

  .form-contacts__container {
    max-width: 24em;
    margin: 0px;
  }
}

@media (min-width: 61.99875em) {
  [data-animation] {
    opacity: 0;
  }

  [data-animation]:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  [data-animation]:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  [data-animation]:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  [data-animation]:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  [data-animation]._watcher-view {
    -webkit-animation-name: anim;
            animation-name: anim;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .content-private__text {
    max-width: 400px;
  }

  .top-why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .top-why__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .top-why__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0%);
        -ms-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }

  .top-why__body {
    width: 50%;
    padding-right: 20px;
  }
}

@media (max-width: 61.99875em) {
  .products__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .top-why__image-ibg {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .top-header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5;
  }

  .top-header__link {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .bottom-header {
    margin-top: -50px;
  }

  .bottom-header__column {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding-bottom: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    background-color: #fff;
    overflow: auto;
  }

@supports (padding-top: clamp( 9.375rem , 8.0190677966rem  +  6.7796610169vw , 11.875rem )) {
    .menu__body {
      padding-top: clamp( 9.375rem , 8.0190677966rem  +  6.7796610169vw , 11.875rem );
    }
}

@supports not (padding-top: clamp( 9.375rem , 8.0190677966rem  +  6.7796610169vw , 11.875rem )) {
    .menu__body {
      padding-top: calc(9.375rem + 2.5 * (100vw - 20rem) / 36.875);
    }
}

  .menu__body::before {
    content: "";
    top: -100%;
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #fff;
    left: 0;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
    z-index: 20;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list {
    row-gap: 20px;
  }

  .menu__link {
    font-size: 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .private__image-ibg {
    display: none;
  }

  .contacts__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 32.375em) {
  .footer__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 15px;
  }

  .footer__link {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 29.99875em) {
  .top-header__link {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .bottom-header {
    margin-top: -18px;
  }

  .product__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (min-width: 47.99875em) and (max-width: 48em) {
  .form-contacts {
    padding-left: inherit;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(0, 0, 0, 0.74);
  }

  .button_white:hover {
    background-color: rgba(255, 255, 255, 0.76);
  }

  .link-item:hover {
    text-decoration: underline;
  }

  .top-header__link:hover {
    text-decoration: underline;
  }

  .menu__link:hover::after {
    content: "";
    width: 100%;
    left: 0;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .contacts__link_phone:hover {
    text-decoration: underline;
  }

  .contacts__link_mail:hover {
    text-decoration: underline;
  }

  .item-contacts__icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}